{% extends 'base.html.twig' %}

{% block title %}PLADAPATH - Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center" style="color:black">Votre profil</h2>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Idenfiant :</dt>
                    <dd class="col-sm-9">{{ identifiant }}</dd>

                    <dt class="col-sm-3">Nom :</dt>
                    <dd class="col-sm-9">{{ nom_agent }}</dd>

                    <dt class="col-sm-3">Prénom :</dt>
                    <dd class="col-sm-9">{{ prenom_agent }}</dd>

                    <dt class="col-sm-3">Numéro d'agent :</dt>
                    <dd class="col-sm-9">{{ num_agent }}</dd>

                    <dt class="col-sm-3">Rôle :</dt>
                    <dd class="col-sm-9">{{ role }}</dd>

                    <dt class="col-sm-3">Caisse :</dt>
                    <dd class="col-sm-9">{{ codeOrganisme }}</dd>
            </div>
        </div>
    </div>
{% endblock %}
