{% extends 'base.html.twig' %}

{% block title %}Modifier un message{% endblock %}

{% block body %}
<button class="returnToSettingButton button">
    <a style="color:#fff" href="{{ path('setting') }}">Retour</a>
</button>

<div class="container">
    <section class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">

            <h2>Modififer un message</h2>
            
            {{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
                {% for field in form %}
                {% if field.vars.name != '_token' %}
                    <div class="form-group mb-4">
                        {{ form_label(field) }}
                        {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(field) }}
                    </div>
                {% endif %}
                {% endfor %}
                <button type="submit" class="button d-block mx-auto" onclick="return confirmEdit();">Modifier</button>
            {{ form_end(form) }}
            
        </div>
    </section>
</div>

<script>
    function confirmEdit() {
        return confirm("Êtes-vous sûr de vouloir modifier ce message ?");
    }
</script>
{% endblock %}
